@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {

}

.album-art {

}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	
}

.record-label {

}

.track-list {

}

#about-photo {
	float: left;

	padding: 2%;

	margin: 30px;

	border: 2cap;
	border-color: red;
	border-width: 3px;
	border-style: solid;
}

#copyright {
	color: red;

	text-decoration: dashed;

	size: 2px;
}

#section-about, #section-discography, #section-equipment {

}

#text-intro {
	background-color: rgb(62, 59, 59);
	color: red;

	padding: 10px;

	border: 1cm;
	border-style: solid;
	border-color: red;;
	border-width: .15cap;
}